
h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.main-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.buttons{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    width: 150px;
    height: 42px;
    font-size: 24px;
    border: 1px solid black;
}

.btn:hover{
    background-color: black;
    color: white;
}

.btn-left{
    border-top-left-radius: 15px;
    border: 1px solid black;
}

.btn-right{
    border-top-right-radius: 15px;
    border: 1px solid black;
}

.score{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.box-score{
    width: 133.33px;
    height: 24px;
    border: 1px solid black;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.box-score-left{
    border: 1px solid black;
}

.box-score-right{
    border: 1px solid black;
}

#user_score{
    background-image: url("../images/user.png");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: .5rem;
}

#pc_score{
    background-image: url("../images/pc.png");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: .5rem;
    background-position-x: 90%;
}

.round{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.round-score{
    width: 98px;
    height: 24px;
    border: 1px solid black;
    text-align: center;
}

#round{
    border-bottom-left-radius: 15px;
}

#round-winner-marker{
    border-bottom-right-radius: 15px;
}

.final_msg{
    margin-top: 12px;
    font-size: 32px;
    font-family: Arial;
    font-weight: 700;
    text-align: center;
}

.play_again_btn{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 42px;
    font-size: 22px;
    border: 1px solid black;
    color: #1a1a1a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .5s ease;

}

.play_again_btn:hover{
    background-color: #1a1a1a;
    color: #fff;
}

@media (min-width:375px) {
    .main-logo{
        width: 300px;
    }
}

@media (min-width:768px) {
    .main-logo{
        width: 400px;
    }
}

