
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    text-align: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

.main-logo{
    height: auto;
    width: 300px;
}

.buttons{
    display: flex;
    justify-content: center;
}

.btn{
    width: 150px;
    height: 42px;
    font-size: 24px;
    border: 1px solid black;
}

.btn:hover{
    background-color: black;
    color: white;
}

.btn-left{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid black;
}

.btn-right{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid black;
}

.score{
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.box-score{
    width: 150px;
    height: 24px;
    border: 1px solid black;
}

.box-score-left{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid black;
}

.box-score-right{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid black;
}

#user_score{
    background-image: url("images/user.png");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: .5rem;
}

#pc_score{
    background-image: url("images/pc.png");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: .5rem;
    background-position-x: 90%;
}

.round{
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.round-score{
    width: 150px;
    height: 24px;
    border: 1px solid black;
}

.final_msg{
    margin-top: 12px;
    font-size: 32px;
    font-family: Arial;
    font-weight: 700;
    text-align: center;
}

.play_again_btn{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 42px;
    font-size: 22px;
    border: 1px solid black;
    color: #1a1a1a;
}

.play_again_btn:hover{
    background-color: #1a1a1a;
    color: #fff;
}